<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>顧客管理システム:ユーザー編集</title>
<style type="text/css">
span.error { color: red; }
</style>
</head>
<body>
  <p th:if="${saved}">登録されました</p>
  ユーザーの登録
  <form action="/user/edit" method="post" th:object="${user}">
    <p th:if="*{id} != 0">ID:
      <input name="id" type="text" readonly="readonly" th:value="*{id}" />
    </p>
    <p>ログインID:
      <input name="loginId" type="text" th:value="*{loginId}" />
      <span class="error" th:if="${#fields.hasErrors('loginId')}" th:errors="*{loginId}">error</span>
    </p>
    <p>パスワード:
      <input name="password" type="password" th:value="*{password}" />
      <span class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">error</span>
    </p>
    <p>名称:
      <input name="name" type="text" th:value="*{name}" />
      <span class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">error</span>
    </p>
    <p>よみがな:
      <input name="phonetic" type="text" th:value="*{phonetic}" />
      <span class="error" th:if="${#fields.hasErrors('phonetic')}" th:errors="*{phonetic}">error</span>
    </p>
    <p>郵便番号:
      <input name="postalCode" type="text" th:value="*{postalCode}" />
      <span class="error" th:if="${#fields.hasErrors('postalCode')}" th:errors="*{postalCode}">error</span>
    </p>
    <p>都道府県: 
      <select name="prefectureId" >
        <optgroup label="未選択" 
            th:each="region : ${T(jp.co.sekainet.traning.type.Region).values()}" 
            th:label="${region.name}">
          <option value="0" label="未選択" 
            th:each="pref : ${region.prefectures}" th:value="${pref.id}" 
            th:label="${pref.name}" th:selected="*{prefectureId} == ${pref.id}" />
        </optgroup>
      </select>
      <span class="error" th:if="${#fields.hasErrors('prefectureId')}" th:errors="*{prefectureId}">error</span>
    </p>
    <p>市区町村:
      <input name="city" type="text" th:value="*{city}" />
      <span class="error" th:if="${#fields.hasErrors('city')}" th:errors="*{city}">error</span>
    </p>
    <p>番地・建物:
      <input name="address" type="text" th:value="*{address}" />
      <span class="error" th:if="${#fields.hasErrors('address')}" th:errors="*{address}">error</span>
    </p>
    <p>電話番号:
      <input name="telephone" type="tel" th:value="*{telephone}" />
      <span class="error" th:if="${#fields.hasErrors('telephone')}" th:errors="*{telephone}">error</span>
    </p>
    <p>メールアドレス:
      <input name="email" type="email" th:value="*{email}" />
      <span class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">error</span>
    </p>
    <p>備考: 
      <textarea name="note" rows="5" cols="60" th:text="*{note}"></textarea>
      <span class="error" th:if="${#fields.hasErrors('note')}" th:errors="*{note}">error</span>
    </p>
    <p>管理者:
      <input name="admin" type="checkbox" value="true" th:checked="*{admin}" />
      <span class="error" th:if="${#fields.hasErrors('admin')}" th:errors="*{admin}">error</span>
    </p>
    <p>
      <input type="submit" value="送信" /> <a href="/user/list">戻る</a>
    </p>
  </form>
</body>
</html>