<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>顧客管理システム:ユーザー一覧</title>
<style type="text/css">
span.error { color: red; }
</style>
</head>
<body>
  <a href="/user/edit">新規ユーザー作成</a>
  <a href="/logout">ログアウト</a>
  <table border="1">
    <tr>
      <th>ID</th>
      <th>ログインID</th>
      <th>名前</th>
      <th>よみがな</th>
      <th>郵便番号</th>
      <th>都道府県</th>
      <th>市区町村</th>
      <th>番地・建物</th>
      <th>電話番号</th>
      <th>メールアドレス</th>
      <th>備考</th>
      <th>管理者</th>
      <th>編集</th>
      <th>削除</th>
    </tr>
    <tr th:each="user : ${users}" th:object="${user}">
      <td th:text="*{id}">1</td>
      <td th:text="*{loginId}">y.kono</td>
      <td th:text="*{name}">河野康隆</td>
      <td th:text="*{phonetic}">こうのやすたか</td>
      <td th:text="*{postalCode}">983-0852</td>
      <td th:text="*{prefecture}">宮城県</td>
      <td th:text="*{city}">仙台市宮城野区</td>
      <td th:text="*{address}">榴岡x-x-x</td>
      <td th:text="*{telephone}">022-781-xxxx</td>
      <td th:text="*{email}">y.kono@example.com</td>
      <td th:text="*{note}">サンプル用アカウント</td>
      <td><input type="checkbox" onclick="return false" th:checked="*{admin}" /></td> <!-- ① -->
      <td><a href="/user/edit?id=1" th:href="|/user/edit?id=*{id}|">編集</a></td>
      <td><a href="/user/delete?id=1" th:href="|/user/delete?id=*{id}|"
            th:onclick="|return window.confirm('「*{name}」を削除します。よろしいですか？');|">削除</a></td>
    </tr>
  </table>
</body>
</html>